#outer {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	border-radius: 9px;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	background: #cae8d5;
}

#container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 600px;
	border: 50px solid #84a9ac;
	border-radius: 8px;
	align-items: center;
}
.grid-container {
	display: grid;
	height: 600px;
	width: 600px;
	grid-template-columns: repeat(16, 1fr);
}
#buttons {
	align: center;
	display: flex;
	align-items: center;
	padding: 2rem;
	width: 500px;
	margin: auto;
}
#buttons button {
	padding: 3px;
	margin: 3px;
	flex: 1;
}
.cell {
	background: #3b6978;
}

.heading {
	padding: 10px;
	color: black;
	position: relative;
	text-align: center;
}
